@model UserViewModel
<div class="ms-2 me-2">
    <div class="mt-2 ms-2 me-2">
        <label asp-for="Id" class="form-label"></label>
        <input readonly asp-for="Id" class="form-control ">

    </div>
    <div class="mt-2 ms-2 me-2">
        <label asp-for="FirstName" class="form-label"></label>
        <input readonly asp-for="FirstName" class="form-control ">

    </div>
    <div class="mt-2 ms-2 me-2">
        <label asp-for="LastName" class="form-label"></label>
        <input readonly asp-for="LastName" class="form-control ">

    </div>
    <div class="mt-2 ms-2 me-2">
        <label asp-for="UserName" class="form-label"></label>
        <input readonly asp-for="UserName" class="form-control ">

    </div>
    <div class="mt-2 ms-2 me-2">
        <label asp-for="Email" class="form-label"></label>
        <input readonly asp-for="Email" class="form-control " placeholder="Email">

    </div>

