@model EmployeeViewModel
<input hidden asp-for="ImageName" />

<div class="mt-2 ms-2 me-2">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control " placeholder="Name">
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mt-2 ms-2 me-2">
    <label asp-for="Age" class="form-label"></label>
    <input asp-for="Age" class="form-control " placeholder="Age">
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="mt-2 ms-2 me-2">
    <label asp-for="Image" class="form-label"></label>
    <input asp-for="Image" class="form-control ">
    <span asp-validation-for="Image" class="text-danger"></span>
</div>

<div class="mt-2 ms-2 me-2">
    <label asp-for="Address" class="form-label"></label>
    <input asp-for="Address" class="form-control " placeholder="Address">
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="mt-2 ms-2 me-2">
    <label asp-for="Salary" class="form-label"></label>
    <input asp-for="Salary" class="form-control " placeholder="Salary">
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-control">
    <label asp-for="Department"></label>
    <select class="form-control" asp-items="ViewBag.Departments"></select>
    <option value="@null">Select Department</option>
</div>
<div class="mt-2 ms-2 me-2">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control " placeholder="Email">
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="mt-2 ms-2 me-2">
    <label asp-for="Phone" class="form-label"></label>
    <input asp-for="Phone" class="form-control " placeholder="Phone">
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="mt-2 ms-2 me-2">
    <label asp-for="IsActive" class="form-label"></label>
    <input asp-for="IsActive">
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>
