@model EmployeeViewModel
@{
    ViewData["Title"] = "Eidt";
}

<h1 class="mt-2"> Eidt @Model.Name Eployee</h1>

<form method="post" class="mt-3 shadow" asp-action="Edit">
    <partial name="PartialView/CreatEditPartial"></partial>
    <div class="mt-2 ms-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-danger ms-2" asp-action="Index">Cancel</a>
    </div>
</form>
@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

